layout {

    focus-ring {
        active-color   "#39bae6"
        inactive-color "#0b0e14"
        urgent-color   "#d95757"
    }

    border {
        active-color   "#39bae6"
        inactive-color "#0b0e14"
        urgent-color   "#d95757"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#39bae6"
        inactive-color "#044f68"
        urgent-color   "#d95757"
    }

    insert-hint {
        color "#39bae680"
    }
}

recent-windows {
    highlight {
        active-color "#39bae6"
        urgent-color "#d95757"
    }
}
